// .button {
//   border-radius: 8px !important;
//   &.primary {
//     background-color: $primary-color !important;
//     border: 1px solid $primary-color !important;
//     color: white !important;
//     &:hover {
//       background-color: $green !important;
//     }
//     &.is-outline {
//       background-color: transparent !important;
//       border: 1px solid $primary-color !important;
//       color: $primary-color !important;
//       &:hover {
//         background-color: $primary-color !important;
//         border: 1px solid $primary-color !important;
//         color: white !important;
//       }
//     }
//     &.rounded-circle {
//       border-radius: 50px !important;
//     }
//   }
//   &.secondary {
//     background-color: $secondary-color !important;
//     border: 1px solid $secondary-color !important;
//     color: white !important;
//     &:hover {
//       background-color: $blue-light-2 !important;
//     }
//     &.is-outline {
//       background-color: transparent !important;
//       border: 1px solid $secondary-color !important;
//       color: $secondary-color !important;
//       &:hover {
//         background-color: $secondary-color !important;
//         border: 1px solid $secondary-color !important;
//         color: white !important;
//       }
//     }
//     &.rounded-circle {
//       border-radius: 50px !important;
//     }
//   }
//   &.gradient-primary {
//     background: $gradient-primary !important;
//     border: none !important;
//     color: white !important;
//     &:hover {
//       background-color: $blue-light-2 !important;
//     }
//     &.is-outline {
//       background-color: transparent !important;
//       border: 1px solid $gradient-primary !important;
//       color: $gradient-primary !important;
//       &:hover {
//         background-color: $gradient-primary !important;
//         border: 1px solid $gradient-primary !important;
//         color: white !important;
//       }
//     }
//     &.rounded-circle {
//       border-radius: 50px !important;
//     }
//   }
//   &.menu-btn-demo,
//   &.menu-btn-shop {
//     background-color: $primary-color !important;
//     border: 1px solid $primary-color !important;
//     color: white !important;
//     border-radius: 8px !important;
//     padding-top: 15px !important;
//     padding-bottom: 15px !important;
//     padding-left: 15px;
//     padding-right: 15px;
//     font-size: 16px;
//     line-height: 1;
//     margin: 10px 0;
//     @include desktop {
//       margin: 0;
//     }
//   }
//   &.white {
//     &.text-red {
//       color: $red !important;
//     }
//     &.text-secondary {
//       color: $secondary-color !important;
//     }
//     &.text-primary {
//       color: $primary-color !important;
//     }
//     &.is-outline {
//       background-color: transparent !important;
//       border: 1px solid gray !important;
//       color: gray !important;
//       &:hover {
//         background-color: gray !important;
//         border: 1px solid gray !important;
//         color: white !important;
//       }
//       &.rounded-circle {
//         border-radius: 50px !important;
//       }
//     }
//   }
// }
