[data-icon-label]:after {
  background-color: $secondary-color !important;
}
.home #header {
  position: absolute;
}
.header-wrapper {
  li.menu-item a {
    color: $text-body;
    &:hover {
      color: $primary-color !important;
    }
  }
  li.active a {
    color: $primary-color !important;
  }
  .header-nav-main {
    > li.menu-item {
      padding-inline: 30px;
      > a {
        color: $text-body;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .icon-shopping-cart {
      font-size: 24px;
      color: $primary-color;
    }

    .menu-item-type-custom {
      a {
        font-size: 14px;
      }
    }

    .sub-menu.nav-dropdown {
      .menu-item {
        min-width: 180px;
        &.menu-item-has-children {
          border-left: 1px solid #f1f1f1;
        }
      }
    }
    .account-item {
      .account-link {
        font-weight: 500 !important;
        color: #000;
      }
      ul.nav-dropdown {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }

  .nav-right {
    gap: 10px;
    a {
      font-size: 16px;
      &.nav-top-not-logged-in {
        color: #000;
        font-weight: 500 !important;
      }
    }
  }

  &.stuck {
    .header-bg-color {
      background-color: rgba(255, 255, 255, 0.9);
    }
    background-color: #000;
    .header-main .nav > li > a {
      line-height: 30px;
    }
  }
}
