@import "../variables";

.page {
  .checkout-page-title {
    display: none;
  }
  .checkout-title {
    margin: 20px 0; 
  }
  .checkout-breadcrumbs a {
    text-transform: capitalize !important;
  }
  .page-checkout {
    padding: 60px 0;
    h3,
    .button {
      text-transform: capitalize !important;
    }
    .cart-collaterals {
      .checkout-button {
        background-color: $secondary-color;
      }
      .coupon {
        .button {
          color: #fff;
          text-shadow: none;
        }
      }
    }
  }
  @include tablet {
    .checkout-title {
    margin-top: 40px 0;
  }
  }
}

// mini cart
#cart-popup {
  .cart-popup-title {
    .heading-font {
      font-family: $main-font;
    }
  }
  .widget_shopping_cart {
    .cart_list {
      .remove_from_cart_button {
        color: $primary-color;
      }
      a {
        font-family: $second-font;
      }
    }
  }
}
.widget_shopping_cart {
  .woocommerce-mini-cart__buttons {
    .button {
      background-color: $primary-color;
    }
    .checkout {
      background-color: $secondary-color;
    }
  }
}
