.homepage-banner {
  .banner-bg.fill {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;

      background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.8) 25%,
        rgba(255, 255, 255, 0.4) 45%,
        rgba(255, 255, 255, 0.1) 55%,
        rgba(255, 255, 255, 0) 100%
      )
    }
    img {
      z-index: 1;
    }
  }
  .banner-layers {
    .text {
        p {
            text-shadow: 0.5px 0.5px 5px #7a7a7a;
            font-weight: 600 !important;
        }
    }
  }
}

.product-cat-list {
    .product-category {
        .box-text {
            h5 {
                text-transform: capitalize;
                text-shadow: 1.5px 1.5px 5px #070707;
                font-size: 16px;
            }
            @include tablet {
                h5 {
                    font-size: 18px ;
                }
            }
        }
    }
}
