#lesson-shop-wrapper {
  padding-top: 20px;
  padding-bottom: 0;
  .booklist-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    text-align: center;

    tbody {
      tr {
        background-color: $text-bg-1;
        border-bottom: 5px solid #fff;
        td {
          font-size: 14px;
        }
      } 
    }

    th,
    td {
      padding: 20px 5px !important;
      text-align: center;
      vertical-align: middle;
      border: 0 !important;
      color: #000;
    }

    th {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      background-color: #133b7a;
      color: white;
      text-transform: capitalize;
      line-height: 2em;
      &:first-child {
        border-radius: 15px 0 0 0;
      }
      &:last-child {
        border-radius: 0 15px 0 0;
      }
    }

    td {
      &.quantity {
        width: 100%;
        display: table-cell;
      }
    }
  }
  @include tablet {
    padding: 20px 0;
    .booklist-table {
      th,
      td {
        padding: 20px 25px !important;
        font-size: 16px !important;
        text-align: left;
      }
    }
  }
}

.wc-qty-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  .qty-btn {
    background: #0e4da4;
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;

    &:hover {
      background: #083777;
    }
  }
}
.add-all-btn-wrapper {
  width: 100%;
  display: block;
  text-align: end;
  .add-all-btn {
    margin: 0;
    background: #0e4da4;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      background: #083777;
    }
  }
}

.custom-qty-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  .custom-minus {
    margin-bottom: 0px;
    cursor: pointer;
    margin-right: 0px;
    color: white;
    height: 40px;
    border-radius: 30px;
    width: 40px;
    padding: 0;
    font-size: 16px;
  }
  .custom-plus {
    margin-bottom: 0px;
    cursor: pointer;
    margin-right: 0px;
    color: white;
    height: 40px;
    border-radius: 30px;
    width: 40px;
    padding: 0;
    font-size: 16px;
  }
  .custom-qty {
    height: 40px;
    text-align: center;
  }
  @include tablet {
    gap: 10px;
  }
}
