#main {
  .my-account-header {
    margin-top: 40px;
    background-color: unset;
    border: 0;
    small {
      display: none;
    }
  }
  .my-account {
    .row {
      padding: 40px 0;
      .account-user {
        .user-name {
          color: #000;
          font-weight: 500;
        }
      }
      .large-9 {
        padding: 0px 30px 30px;

        .woocommerce-notices-wrapper {
          .woocommerce-message {
            padding-bottom: 20px;
            &:focus {
              outline: none;
            }
          }
        }
        p,
        ul {
          margin-bottom: 20px;
        }
        .dashboard-links {
          li {
            a {
              font-size: 16px;
              &:hover {
                background-color: $primary-color;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
