// quick view
.quick-view {
  color: #fff !important;
}

// shop page
.shop-page-title {
  margin-top: 40px;
}

// single product
.single-product {
  .product-main {
    padding-bottom: 0;
  }
  .product-info.summary {
    padding-bottom: 0;
  }
  .product-footer {
    .size-chart-img {
      padding: 20px 0;
    }
  }
  @include tablet {
    .product-footer {
      .size-chart-img {
        padding: 40px 0;
      }
    }
  }
}

.archive {
  .lesson-shop-title {
    padding: 0 15px;
    padding-top: 60px;
  }
  #lesson-shop-wrapper {
      padding: 20px 15px 60px 15px;
  }
}