//Font
$main-font: "Montserrat", sans-serif !important;
$second-font: "Arial", sans-serif !important;

//Theme Color
$primary-color: #1A428A !default;
$secondary-color: #F5B335 !default;
$title-color: #001a32 !default;
$text-body: #000 !default;
$text-bg-1: #f9f6e5 !default;
$white: #fff !default;

$green: #298c65 !default;
$yelow: #ffc402 !default;
$blue: #1b459b !default;
$lighter-blue: #2463eb !default;
$red: #dc2626 !default;
$orange: #fed7aa !default;
$orange-secondary: #fe9700 !default;
$blue-light: #eff7ff !default;  
$blue-light-2: #40538d !default;
$blue-dark: #0a142f !default; 
$border-color: rgba(14, 11, 61, 0.1) !default;
$border-dark: rgba(14, 11, 61, 0.8) !default;
$footer-color: #090727 !default;  
$smoke: #f4f7fe !default;
$light-gray: #ededed !default;

// gradient
$gradient-primary: linear-gradient(to right, #49ad60, #00a286, #0092a2, #007faa, #336a9e);
$gradient-secondary: linear-gradient(to right bottom, #cfe7d0, #b7d9b9, #9ecaa2, #86bc8c, #6dae76, #57aa77, #3ba57a, #00a07e, #00a298, #00a2af, #00a0c0, #2c9dcb);
$gradient-purple: linear-gradient(to top left, #8e0ff6, #800af2, #7105ef, #6102eb, #4f00e7);
$gradient-green: linear-gradient(to top, #cfe7d0, #b7d9b9, #9ecaa2, #86bc8c, #6dae76, #57aa77, #3ba57a, #00a07e, #00a298);
$gradient-green-reverse: linear-gradient(to bottom, #86bc8c, #6dae76, #57aa77, #3ba57a, #2eaf7d);

//Shadow
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$shadow-2: 0 3px 6px -4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

//Spacers
$spacer: 1rem;  
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  sm: $spacer * 0.5,
  3px: 3px,
  8px: 8px,
  15: 15px,
  25: 25px,
  30: 30px,
  35: 35px,
  55: 55px,
  50: 50px,
  60: 60px,
  70: 70px,
  75: 75px,
  85: 85px,
  90: 90px,
  100: 100px,
  150: 150px,
  2rem: 2rem,
  n15px: -15px,
  n5px: -5px,
  n1: -10px,
  n2: -20px,
  n3: -30px,
  n4: -40px,
  n5: -50px,
);
//Breakpoints
$breakpoints: (
  null: null,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);


