//Font
$main-font: "Montserrat", sans-serif !important;
$second-font: "Arial", sans-serif !important;

//Theme Color
$primary-color: #1A428A !default;
$secondary-color: #F5B335 !default;
$title-color: #001a32 !default;
$text-body: #000 !default;
$text-bg-1: #f9f6e5 !default;
$white: #fff !default;

//Shadow
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$shadow-2: 0 3px 6px -4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

//Spacers
$spacer: 1rem;  
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  sm: $spacer * 0.5,
  3px: 3px,
  8px: 8px,
  15: 15px,
  25: 25px,
  30: 30px,
  35: 35px,
  55: 55px,
  50: 50px,
  60: 60px,
  70: 70px,
  75: 75px,
  85: 85px,
  90: 90px,
  100: 100px,
  150: 150px,
  2rem: 2rem,
  n15px: -15px,
  n5px: -5px,
  n1: -10px,
  n2: -20px,
  n3: -30px,
  n4: -40px,
  n5: -50px,
);
//Breakpoints
$breakpoints: (
  null: null,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);


