@import "fonts/fonts";

// defualt
@import "mixins";
@import "variables";

// components
@import "components/buttons";
@import "components/spacing";
@import "components/header";
@import "components/footer";

// pages
@import "pages/homepage";
@import "pages/shop";
