@import "fonts/fonts";

// defualt
@import "mixins";
@import "variables";
@import "default";

// components
@import "components/buttons";
@import "components/spacing";
@import "components/header";
@import "components/footer";
@import "components/login-popup";

// pages
@import "pages/homepage";
@import "pages/shop";
@import "pages/contact-page";
